$def with (stats)
<h1>Statistics</h1>
<table class="table">
    <tr>
        <th>id</th>
        <th>name</th>
        <th>seeders</th>
        <th>leechers</th>
        <th></th>
    </tr>
    $for row in stats:
        <tr>
            <td>$row['id']</td>
            <td>$row['name']</td>
            <td>$row['seeders']</td>
            <td>$row['leechers']</td>
            <td><a href="/torrent/$row['id']">view</a></td>
        </tr>
</table>