$def with (torrent)
<div class="span3"></div>
<div class="span6">
    <h1>$torrent.name</h1>
    <p style="text-align: center;">
        <a class="btn" href="$site/torrent/download/$torrent.id" target="_self">Download!</a>
    </p>
    <p>
        Seeders: $torrent.seeders
        Leechers: $torrent.leechers
    </p>
    <h3>Description</h3>
    <div class="well well-large">
        $torrent.description
    </div>
    <h3>Files:</h3>
    <div class="well well-large">
        <ul>
            $for file in torrent.file_list.split(';'):
                <li>$file</li>
        </ul>
    </div>
    <h2>Total Size: $torrent.file_size bytes</h2>
</div>
<div class="span3"></div>